{% extends "base.html" %}
{% block title %}Flights History{% endblock %}
{% block base %}
{% block header %}Flights History{% endblock %}

<div class="row mt-4">
    <div class="col-lg-2 col-xl-2"></div>
    <!-- col -->
    <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12">
        <!-- card -->
        <div class="card">
            <!-- table -->
            <div class="table-responsive">
                <table class="table mb-0 text-nowrap table-centered">
                    <thead class="table-light">
                        <tr>
                            <th>History ID</th>
                            <th>Form</th>
                            <th>To</th>
                            <th>Date</th>
                            
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                Dhaka
                            </td>
                            <td>
                                Dubai
                            </td>
                            <td>
                                09-30-2023
                            </td>
                           
                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-xl-2"></div>
</div>

{% endblock %}